.notifications-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    animation: slideIn 0.3s ease;
}

.notification button {
    background: transparent;
    color: white;
    font-size: 18px;
}

.success {
    background: #10b981;
}

.error {
    background: #ef4444;
}

.warning {
    background: #f59e0b;
}

.info {
    background: #3b82f6;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}